<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./component/head.ejs')%>
  <body>
   
    <%- include('./component/nav.ejs')%>
    <h1>All Blogs</h1>
    <div class=" blogs content">
    
  <% if(blogs.length > 0){%>
 
  <% blogs.forEach((blog)=>{%>
    <a class="post" href="/blogs/<%=blog._id%>">
   <h2><%=blog.title%></h2>
   <h4><%=blog.snippet%></h4></a> <%})%>
  
<% }else {%>
   <h2> There is nothing to display.</h2>
 <%  }%> 
    </div>
    <%- include('./component/footer.ejs')%>
  </body>
</html>
