<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./component/head.ejs')%>
  <body>
    
    <%- include('./component/nav.ejs')%>
    <div class="create-blog ">
      <form action="/blogs/<%= blog._id %>?_method=PUT " method="POST">
          <label for="title">Blog title:</label>
          <input type="text" id="title" name="title" value="<%= blog.title%>" required>
          <label for="snippet">snippet:</label>
          <input type="text" id="snippet" name="snippet" value="<%= blog.snippet%>"   required>
          <label for="title">Blog Body:</label>
        <textarea id="body" name="body" rows="6" required><%=blog.body%></textarea>
        <button><a class="update" data-doc="<%= blog._id%>" > Update</a></button>
        </form> 

    </div>
    

    <%- include('./component/footer.ejs')%>
  </body>
  <script>
    const updatepost=document.querySelector("a.update");
    updatepost.addEventListener('click',(e)=>{
      const updatebutt=`/blogs/${updatepost.dataset.doc}`;
    fetch(updatebutt ,  {
      method:'PUT',
     
    })
    .then((res)=>{return res.json()})
      .then((data)=> window.location.href=data.redirect)
      .catch((err)=>{console.log(err);})

})
    </script>
</html>
